.bot-status-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0px auto;
  background-color: #FFEFDA;
  height: 200px;
  border-radius: 15px;
}

.turtlebot-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turtlebot-img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.turtlebot-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  padding: 7px;
  font-size: calc(14px + 0.5vw);
  text-align: center;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 5px;
  margin-bottom: 30px;
  height: 30px;
}

.turtlebot-input {
  width: 80%;
  text-align: center;
  border: none;
  margin: auto 0px;
  padding: 4px;
}

.turtlebot-img-wrapper {
  display: flex;
  justify-content: space-between;
}

.turtle-name-input-layer {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0%;

}