.current-task-container {
  margin-top: 30px;
  width: 100%;
  height: 50px;
}

.current-task-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  color: white;
  background-color: $primary;
}

.current-task-header {
  margin-bottom: 5px;
  margin-left: 5px;
}

.current-task-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-slide-button {
  margin: 20px 0px;
  border-radius: 10px;
  background-color: white;
}