.menus {
  width: 328px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 16px;
}

.menu {
  width: 156px;
  height: 61px;
  background-color: white;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-right: 7px;
}