.circular {
  height: 100px;
  width: 100px;
  position: relative;
  transform: scale(0.8);
}

.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #FBD07A;
  border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}


.left .progress {
  z-index: 1;
}

.circle .right {
  z-index: 3;
  transform: rotate(180deg);
}

.battery-container {
  padding-top: 30px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battery-container > span {
  font-size: 1.5vw;
  transform: translate(1px, 5px);
}

