.map-conatiner {
  position: relative;
}

.map-canvas-pos, .map-canvas-grid, .map-canvas-path, .map-canvas-application{
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.map-canvas-application {
  z-index: 3;
}

.map-canvas-path {
  z-index: 4;
}

.map-canvas-pos {
  z-index: 2;
}

.map-canvas-grid {
  z-index: 1;
}

