.date-bar {
  width: 360px;
  height: 30px;
  background-color: $primary;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;

}

.card-container {
  padding: 16px 0px;
}