.card-box {
  width: 328px;
  border-radius: 10px;
  padding: 16px 20px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.icon {
  margin-right: 5px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
}

.description {
  font-size: 11px;
  color: $darkgray;
}

.time {
  font-size: 14px;
}

.date {
  font-size: 14px;
  margin-right: 30px;
}