.calendar {
  display: flex;
  flex-direction: column;

  height: 120px;
  margin: 15px 16px;
  .year {

  }
  .month-container {
    display: flex;
    overflow: auto;
    font-size: 12px;
    color: gray;
    .month {
      width: 65px;
      text-align: center;
    }
    .month-active {
      color: black;
      font-weight: bold;
    }
  }
  .day-container {
    display: flex;
    overflow: auto;
  
    .day {
      display: flex;
      justify-content: center;
      align-items: center;
  
      width: 55px;
      height: 55px;
      margin: 5px;
      background-color: $graylight;
      border-radius: 10px;
    }
    .day-active {
      background-color: $primary;
      color: white;
    } 
  }
}