.calendar-container {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}

.calendar {
  width: 260px;
  margin: 10px 8px; 
  .day-container {
    display: flex;
    overflow: auto;
    font-size: 14px;
  
    .day {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      margin: 6px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.1s;
      &:hover {
        background-color: $lightgray;
        transition: 0.2s;
      }
      &:active {
        background-color: white;
        color: $primary;
        transition: 0.2s;
      }
    }
    .day-active {
      background-color: $dark !important;  
      color: white !important;
      transition: 0.3s;
    } 
  }
}

.icon {
  width: 20px;
  height: 10px;
  cursor: pointer;
  margin-bottom: 7px;
  &:active {
    color: $primary;
  }
}

.today-mark {
  width: 5px;
  height: 5px;
  background-color: $primary;
  margin: auto;
  border-radius: 50%;
}