.calendar {
  display: flex;
  flex-direction: column;
  margin: 10px 16px; 
  .day-container {
    display: flex;
    overflow: auto;
  
    .day {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin: 6px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.1s;
      &:hover {
        background-color: $lightgray;
        transition: 0.2s;
      }
      &:active {
        background-color: white;
        color: $primary;
        transition: 0.2s;
      }
    }
    .day-active {
      background-color: $primary !important;  
      color: white !important;
      transition: 0.3s;
    } 
  }
}