
.my-container {
  padding: 0px 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 30px;

  .item {
    display: flex;
    flex-direction: column;
  }

  span {
    margin-bottom: 5px;
    padding-left: 10px;
  }

  input {
    width: 328px;
    height: 40px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 1px 2px 7px 2px rgba(206, 206, 206, 0.35);
    border-radius: 8px;
    border: 0px;
    padding: 0px 15px;
    margin-bottom: 20px;
  }
}

.bar {
  border-bottom: 1px solid $lightgray;
  width: 328px;
  margin-top: 15px;
}

.select-form {
  width: 328px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 2px 7px 2px rgba(206, 206, 206, 0.35);
  border-radius: 8px;
  border: 0px;
  padding: 0px 15px;
  margin-bottom: 20px;
}

.my-btn-err {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 58px;
  background-color: $gray;
  box-shadow: 1px 2px 7px 2px rgba(206, 206, 206, 0.35);
  border-radius: 10px;
  color: white;
  margin: 0px auto;
  border: 0px;
  cursor: pointer;
  
  &:active {
    transition: box-shadow 0.3s;
    box-shadow: none;
  }
  
}