.bg {
  background: url("../../assets/images/bg2.png");
  background-size: auto 100%;
  width: 360px;
  height: 683px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;

  .item {
    display: flex;
    flex-direction: column;
  }

  span {
    color: white;
  }

  input {
    width: 246px;
    height: 40px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 1px 2px 7px 2px rgba(206, 206, 206, 0.35);
    border-radius: 8px;
    border: 0px;
    padding: 0px 15px;
    margin-bottom: 15px;
  }
}

.user-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 40px;
  background: $primary;
  box-shadow: 1px 2px 7px 2px rgba(206, 206, 206, 0.35);
  border-radius: 8px;
  color: white;
  border: 0px;
  margin-top: 40px;
  margin-bottom: 130px;
}

.user-btn-err {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 247px;
  height: 40px;
  background: $gray;
  box-shadow: 1px 2px 7px 2px rgba(206, 206, 206, 0.35);
  border-radius: 8px;
  color: white;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 130px;
}

.err-text {
  color: rgb(255, 83, 83) !important;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 12px;
}