.paths {
  padding: 0px 16px;
  margin-top: 40px;
}
.path {
  width: 328px;
  height: 58px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.path-active {
  background-color: $primary;
  color: white;
  transition: 0.3s;
  span {
    color: white;
  }
}

.title {
  font-size: 14px;
  img {
    width: 15px;
    margin-left: 3px;
  }
}

.input-title {
  color: $dark;
  border: 0;
  border-radius: 5px;
  padding: 5px 5px;
  box-shadow: 1px 2px 7px 2px rgba(206, 206, 206, 0.35);
  background-color: #ffffff8c;
}

.path-re-btn {
  font-size: 12px;
  color: $darkgray;
  cursor: pointer;
}

.map-text {
  font-size: 12px;
  margin-bottom: 10px;
}

.my-modal-content {
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.minimap {
  position: absolute;
  right: 0px;
}

.control-container {
  position: relative;
}

.my-small-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 58px;
  background-color: white;
  box-shadow: 1px 2px 7px 2px rgba(206, 206, 206, 0.35);
  border-radius: 10px;
  border: 0px;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    background-color: $primary;
    color: white;
    transition: 0.3s;
  }

  &:active {
    transition: box-shadow 0.3s;
    box-shadow: none;
  }
  
}
.btn-group {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
}