.patrol-cam-container {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  margin-bottom: 30px;
}

.patrol-cam {
  border-radius: 15px;
=======
>>>>>>> 51b700abd2a91134b5dcf6d5ab6c6cf93c8eec3f
}