.icon {
  padding: 28px;
  margin: 15px;
  border-radius: 50%;
  background-color: $primary;
  color: $white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
  
  font-size: 20px;
  
}

.icon:hover {
  background-color: $secondary;
  cursor: pointer;
}

.icon:active {
  transition: box-shadow 0.3s;
  box-shadow: none;
}

.up {
  margin-bottom: 50px;
}