.home-container {
  width: 360px;
  height: 623px;
  padding: 0px 16px;
}

.stt-container {
  width: 328px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    margin-right: 5px;
  }
}


.listening {
	color:$darkgray;
	animation: txtE 2s infinite;
}

@keyframes txtE {
	20% {
		color:$darkgray;
	}

	30% {
		color:$lightgray;
	}

	100% {
		color:$darkgray;
	}
}