// typography

// color
$primary-blue: #82A2FF;
$primary-red: #FBD07A;
$primary-yellow:#FFBAB7;

// magin
.m-0 {
  margin: 0px
}

.m-16 {
  margin: 16px
}

.m-20 {
  margin: 20px
}

// pading
.p-0 {
  padding: 0px;
}

.p-16 {
  padding: 16px
}

.p-20 {
  padding: 20px
}