$primary: #95BFC2;
$secondary: #EBBBA6;
$primary-dark: #257482;

$dark: black;
$darkgray: rgb(61, 61, 61);
$gray: gray;
$graylight: rgb(212, 212, 212);
$white: white;

// magin
.m-0 {
  margin: 0px
}

// pading
.p-0 {
  padding: 0px;
}